%h2
  New RO Site Lead
%p
  Contact Name: #{@contact.name unless @contact.name == nil}
%p
  Contact Email: #{@contact.email unless @contact.email == nil}
%p
  Phone: #{@contact.phone unless @contact.phone == nil}
%p
  Company: #{@contact.company unless @contact.company == nil}
%p
  Message: #{@contact.message unless @contact.message == nil}